form {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    div {
        margin: 12px;
        width: 100%;
        max-width: 400px;
        display: flex;
        justify-content: space-between;
    }
    div.errorContainer {
        color: red;
        display: flex;
        flex-direction: column;
        li {
            margin-left: 12px;
            list-style-type: none;
        }
    }

    div.result {
        height: 70px;
    }
}