form {
    display: flex;
    flex-direction: column;
    div {
        margin: 12px;
        width: 70%;
        max-width: 300px;
        display: flex;
        justify-content: space-between;
    }
    div.errorContainer {
        color: red;
        display: flex;
        flex-direction: column;
        li {
            margin-left: 12px;
            list-style-type: none;
        }
    }
}