button {
    padding: 6px 12px;
    border-radius: 8px;
    width: 100%;
    border: 1px solid  rgba(6, 138, 247);
    align-self: center;
    background-color: rgba(36, 208, 247);
    color: white;
    font-weight: 800;
    text-transform: uppercase;
}