html, body {
    padding: 0px;
    margin: 0px;
    background-color: #ECECEC;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    background-color: #14162E;
    height: 100px;
}

footer {
    background-color: #14162E;
    height: 200px;
}

.errorContainer {
    color: red;
    li {
        list-style-type: none;
    }
}

app-root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}